<div class="row">
  <div class="col-2">
    <%= render 'users/icon', user: post.user %>
  </div>
  <div class="col-9">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="username-small"><%= link_to post.user.username, post.user, class: 'link-dark' %></h5>
        <% if post.image.attached? %>
          <%= image_tag post.image, class: 'img-fluid' %>
        <% end %>
        <p><%= post.content %></p>
      </div>
      <div class="card-footer text-muted">
            <%= render 'posts/time_and_notes', post: post%>
        <div class="float-right">
            <%= render 'posts/interaction_buttons', post: post%>
            <%= render 'posts/current_user_buttons', post: post%>
        </div>
      </div>
    </div>
  </div>
</div>
